# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
build/
.eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
.venv/
venv/
ENV/
env/

# UV
uv.lock

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Testing
.pytest_cache/

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Extra
documents/


# OS

# Artifacts
dist/
